[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
sphinx = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
mysqlclient = "*"
pytest = "*"
alembic = "*"
google-cloud-storage = "*"
sphinx = "*"
nanoid = "*"

[requires]
python_version = "3.7"
